
nav{
	text-align: center;
	font-family: 'Creepster', cursive;
}
h1{
	text-align: center;
	color:white;
	font-family: 'Creepster', cursive;
	

}
img{
	height: 350px;
	display:block;
	margin:auto;
}
body{
	background-color: black;
}
p{
	color:white;
	text-align: center;
	font-family: 'Tangerine', cursive;

}
div{
	display: flex;
	align-items: flex-end;

}